<div class="profile-form-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        class="form-control"
        formControlName="name"
        id="name"
        type="text"
      />

      <div
        *ngIf="
          profileForm.get('name')?.touched && profileForm.get('name')?.invalid
        "
      >
        <small class="form-text text-danger">Name is required.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        class="form-control"
        formControlName="email"
        id="email"
        type="email"
      />

      <div
        *ngIf="
          profileForm.get('email')?.touched && profileForm.get('email')?.invalid
        "
      >
        <small class="form-text text-danger">Enter a valid email.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="bio">Biography:</label>
      <textarea class="form-control" formControlName="bio" id="bio"></textarea>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        class="form-control"
        formControlName="password"
        id="password"
        type="password"
      />
      <div
        *ngIf="
          profileForm.get('password')?.invalid &&
          profileForm.get('password')?.touched
        "
      >
        <small class="form-text text-danger"
        >Password must be at least 8 characters.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input
        class="form-control"
        formControlName="age"
        id="age"
        type="number"
      />
      <div
        *ngIf="
          profileForm.get('age')?.invalid && profileForm.get('age')?.touched
        "
      >
        <small class="form-text text-danger"
        >You must be at least 18 years old.</small
        >
      </div>
    </div>

    <button
      [disabled]="!profileForm.valid"
      class="btn btn-primary"
      type="submit"
    >
      Submit
    </button>
  </form>
  <hr />
  <div class="last-edited">
    <div *ngIf="profile$ | async as profile">
      Last Edited: {{ profile?.updatedTime | date: 'dd/MM/yyyy HH:mm:ss' }}
    </div>
    <button (click)="goBack()">Go Back</button>
  </div>
</div>
