<div class="blog-list">
  <div *ngIf="viewStatus$ | async as viewStatus">
    <div *ngIf="equals(viewStatus, ViewStatus.Initial)">Initializing...</div>

    <div
      *ngIf="
        or(
          equals(viewStatus, ViewStatus.Loading),
          equals(viewStatus, ViewStatus.Reloading)
        )
      "
      class="loading"
    >
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <mat-hint>Fetching blogs from backend...</mat-hint>
    </div>

    <div *ngIf="equals(viewStatus, ViewStatus.Failure)" class="error">
      Error loading blogs
    </div>

    <ng-container *ngIf="equals(viewStatus, ViewStatus.Success)">
      <ng-container *ngIf="blogList$ | async as blogs; else noBlogsTemplate">
        <ng-container *ngFor="let blog of blogs">
          <mat-card class="blog-item">
            <mat-card-header>
              <mat-card-title>{{ blog.title }}</mat-card-title>
              <mat-card-subtitle>{{ blog.author }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ blog.description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                color="primary"
                mat-button
                routerLink="/blog/view/{{ blog.id }}"
              >
                View
              </button>
              <button mat-button routerLink="/blog/edit/{{ blog.id }}">
                Edit
              </button>
              <button (click)="deleteBlog(blog.id)" color="warn" mat-button>
                Delete
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<!-- Template for No Blogs -->
<ng-template #noBlogsTemplate>
  <div class="no-blogs">No blogs available.</div>
</ng-template>
